# JupyterLite:
jupyter-server
jupyterlite
# Xeus Python kernel:
jupyterlite-xeus-python
xeus-python
# Remote collaboration using WebRTC:
jupyterlab-webrtc-docprovider
# For translating tutorial .md notebooks to .ipynb
# jupytext
